* {
    /* FONT */
}

:root {

    --primary-color : #292962; 
    --secondary-color : #E38701;
}


.bg-custom {
    background-color: var(--primary-color);
    
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.border-custom {
    border: solid 4px var(--secondary-color);
}

.text-custom {
    color: var(--secondary-color);

}

.text-custom:hover {
    color: #fff;
}

.hr-custom {

    border-bottom: solid var(--primary-color);
}


.btn-custom {

    background-color: #fff;
    color: var(--primary-color);
    border: solid 2px var(--secondary-color) ;
}

.btn-custom:hover {

    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 2px var(--secondary-color) ;
}


.border-card-custom {

    border: solid 1px var(--secondary-color);
}



.bg-orange-custom {

    background: var(--secondary-color);
    color: var(--primary-color);
}

.text-custom-blue {
    color: var(--primary-color);

}


input.form-control {
    color: none !important;
    background-color: none !important;
    border-color:none !important;
    outline: 0;
    box-shadow: none !important;
}


input.form-control:focus {
    color: none !important;
    background-color: none !important;
    border-color:none !important;
    outline: 0;
    box-shadow: none !important;
}


input.test.form-control:focus {
    border: none !important;
}